# A Model That predicts your taste in music genre!

##### Beware! Sarcastic Comments Ahead

In [1]:
import pandas as pd # A library that helps us clean the data
from sklearn.tree import DecisionTreeClassifier

m_data = pd.read_csv('music.csv') # Load the data
m_data # now move it and show me the data which was loaded, be quick!!!

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [2]:
x = m_data.drop(columns=['genre']) # i call this variable as the input we would take from the user
x #let me see what did we get... Hmmm

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [3]:
y = m_data['genre'] # i call this variable as the output that our model would provide after getting the user input
y # show me what do you have as an output, you minor csv file!

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [4]:
# A decisionTree works exactly the same for a supervised machine learning algorithm as you work for this company you cute person
# Basically a decision tree has data which it predicts the output on the basis of the different input data in the form of a well drawn tree diagram

model = DecisionTreeClassifier() # i'm using a decisionTree to precdict the user's taste in music though i also need to know mine

model.fit(x,y) # i'd need the input and possible output data on which the algorithm could work and that's kinda obvious

predictions = model.predict([[21,1],[22,0]]) # let me test my code if it tells me what would a 22 year old woman likes in music
# predict function takes a 2 dimensional array so first is "21 y/o Male" and second is "22 y/o Woman"

predictions # okay show me the result i have a lot to do more, BE QUICKER!

array(['HipHop', 'Dance'], dtype=object)

In [32]:
from sklearn.model_selection import train_test_split # and now the model seems to be an adult and could make his own choices in life... Oh I'm so emotional 
from sklearn.metrics import accuracy_score # yes master, tell me the results my model has got *me gets ready to remove my belt*

x_train,x_test, y_train,y_test = train_test_split(x,y,test_size=0.2) # this would need quite an explanation so move below
# 'x_train + x_test' for x and 'y_train + y_test' for y while the test size decides the percentage of the data to test and simultaneously training would be lesser/more
# The more you'll train the model the better its accuracy will get, it'd be 6$ only(this my paytm number - 0123456798)

model.fit(x_train,y_train) # Eh, you already know this one
predictions = model.predict(x_test) # now we'd get an automatically trained model's prediction!

score = accuracy_score(y_test,predictions) # (almost removed my belt now)
score

0.5